@model IEnumerable<OnlineCinema.Models.MovieModel>
@{ViewBag.Title = "| My Movies";}

<div class="row pt-2">
    <h2>My Movies</h2>
    <hr />
</div>

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <img src="@Url.Content(movie.PosterPath)" class="card-img-top" />
                    <h3 class="card-title">@Html.DisplayFor(modelItem => movie.Title)</h3>
                    <h5 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => movie.Director)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => movie.Synopsis)</p>
                    <button type="button" class="form-control btn btn-success">Watch Now</button>
                </div>
            </div>
        </div>
    }
</div>