<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>An error occurred while processing your request</h1>
        <h2>Error: @TempData["Alert"]</h2>
        <h4>@Html.ActionLink("Back to Home", "Index", "Home")</h4>
    </div>
</body>
</html>